<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/temp_logo.svg"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrasound Monitor</title>

    <link rel="stylesheet" href="/static/css/build.css">
    <link rel="stylesheet" href="/static/css/uplot.css">
    <script src="/static/js/htmx.min.js"></script>
    <script src="/static/js/sse.min.js"></script>
    <script src="/static/js/uplot.js"></script>
    <script src="/static/js/app.js"></script>
    <!-- <script>
        htmx.logAll();
    </script> -->

</head>
<body class="min-h-screen bg-taupe-50 " hx-ext="sse">
    <div class="flex flex-col min-h-screen">
        
        {% include 'components/layout/top_navbar.html' %}

        <div class="flex-1 flex">
            <main class="w-full overflow-x-auto bg-taupe-50">
                {% block content %}{% endblock %}
            </main>
        </div>
        
        {% include 'components/layout/footer.html' %}
    </div>
</body>
</html>